= render 'shared/menu'

.voting
  - @items.each do |item|
    = link_to "#{ item.name }", upvote_item_path(item), method: :post
    - unless item == @items.last
      %br
      %br
      vs.
      %br
      %br
