.center {
  text-align: center;
}

#all-the-things {
  margin-top: 40px;
}

.fine-print {
  /*font-style: italic;*/
  font-size: small;
  text-align: center;
}

.voting {
  text-align: center;
  font-size: xx-large;
  margin-top: 80px;
}

.result {
  margin-left: 32px;
}
